[submodule "TerbinProyect"]
	path = TerbinProyect
	url = git@github.com:FarlandsModdingTeam/TerbinProyect.git
[submodule "Libs/TerbinProyect"]
	path = Libs/TerbinProyect
	url = git@github.com:FarlandsModdingTeam/TerbinProyect.git
